<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%-5level %logger{36} :) %msg%n</pattern>
        </encoder>

        <!-- Global threshold INFO+ -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- Specific package limiter -->
    <logger name="irelia.limiter" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="irelia.service" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>